body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.hero-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification p {
    background-color: #232425;
    color: #f8fcf8bb;
}

.hero.is-primary {
    background-color: #232425;
    color: #fff;
}

.navbar {
    padding: 10px 10px;
}

.navbar-item {
    color: #fff;
}

.navbar-item:hover {
    color: #fff;
    background-color: #333;
}

.navbar-item.is-active {
    background-color: #333;
}

.box{
    min-width: 60%;
    max-width: 90%;
    display: grid;
    padding: 5px;
}
